<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.uni.betrack">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".ReceiverStartTracking">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.app.uni.betrack.START_TRACKING" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ReceiverStopTracking">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ReceiverAlarmNotification">
            <intent-filter>
                <action android:name="com.app.uni.betrack.TRIGGER_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ReceiverAlarmTrackApp" />
        <service
            android:name=".JobSchedulerBetrack"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".UtilsForegroundEnablingService" />
        <service
            android:name=".IntentServiceTrackApp"
            android:exported="false" />
        <service
            android:name=".IntentServicePostData"
            android:exported="false" />
        <service
            android:name=".ServiceBetrack"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ActivitySplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityBeTrack" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySettings" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySurveyStart" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySurveyDaily" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySurveyEnd" android:screenOrientation="portrait"/>
        <activity android:name=".ActivityStartStudy" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySetupBetrack" android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySurveySleep" android:screenOrientation="portrait"/>
        <activity android:name=".ActivityInternetConnectivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityDummy"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay"
            />
    </application>

</manifest>
