<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.uni.betrack">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".ReceiverStartTracking">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.app.uni.betrack.START_TRACKING" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReceiverAlarmNotification" />
        <receiver android:name=".ReceiverAlarmPostData" />
        <receiver android:name=".ReceiverAlarmTrackApp" />
        <receiver android:name=".ReceiverAlarmTrackGPS" />
        <receiver android:name="com.commonsware.cwac.locpoll.LocationPoller" />

        <service android:name="com.commonsware.cwac.locpoll.LocationPollerService" />
        <service
            android:name=".JobSchedulerTrackApp"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".JobSchedulerPostData"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".UtilsForegroundEnablingService" />
        <service
            android:name=".IntentServiceTrackApp"
            android:exported="false" />
        <service
            android:name=".IntentServicePostData"
            android:exported="false" />
        <service
            android:name=".ServiceBetrack"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ActivitySplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityBeTrack" />
        <activity android:name=".ActivitySettings" />
        <activity android:name=".ActivitySurveyStart" />
        <activity android:name=".ActivitySurveyDaily" />
        <activity android:name=".ActivitySurveyEnd" />
        <activity android:name=".ActivityStartStudy" />
        <activity android:name=".ActivitySetupBetrack"></activity>
    </application>

</manifest>
